#selecting{
    position: relative;
    height: 50px;
}

.select{
    position: absolute;
    left: 40%;
    margin-top: 3%;
    background-color: DodgerBlue;
    border: 6px solid transparent;
    height: 48px;
    width: 208px;
    font-size: 23px;
}
.sort{
    position: absolute;
    left: 44%;
    margin-top: 3%;
    background-color: DodgerBlue;
    border: 6px solid transparent;
    height: 48px;
    width: 208px;
    font-size: 23px;
    margin-left: 13%;

}
.cont{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;

}
.cont section{
    border: 5px solid black;
    padding: 10px;
    height: 297px;
    width: 17%;
    line-height: 1.7;
    /* float: left; */
    margin-left: 7%;
    margin-bottom: 1%;
    background-color: rgba(255, 202, 242,.6);
    overflow: hidden;

}

.cont section img{
    height: 65%;
    width: 74%;
    text-align: center;
    
}

.photo-template{
    display: none;
}


#showAlone img{
    height: 100%;
    width: 200px;
    margin: auto;
}

#showAlone{
    height: 100%;
    width: 21%;
    margin: auto;
    

}